*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.container{
    width: 82%;
    max-width: 1365px;
    margin: 0 auto;
}
.xYoloW94MHeadRer {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 5px 40px 5px #2a2a2a1c;
}
.xYoloW94Mcontainer{
	display: flex;
	position: relative;
    width: 82%;
    max-width: 1365px;
    margin: 0 auto;
}
.xYoloW94Mlogo-container{
	flex: 1;
	display: flex;
	align-items: center;
}
.xYoloW94Mlogo-img > img{
    width: 50px;
}
.xYoloW94Mnav-btn{
	flex: 3;
	display: flex;;
}
.xYoloW94Mnav-links{
	flex: 2;
}
.xYoloW94Mlog-sign{
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	
}
.xYoloW94Mlogo-d-flex{
	display: flex;
	align-items: center;
	gap: 4px;
}
.xYoloW94MxYoloW94Mlogo-img > img{
	width: 48px;
}
.xYoloW94Mlogo-brand > h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 800;
	font-size: 19px;
	text-transform: uppercase;
	letter-spacing: 0.4px;
	color: #474747;
}
span.xYoloW94Mlogo-storke {
    color: #ff000000;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-transform: none;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #ff2f2f;
    stroke: #ff2f2f;
}
.xYoloW94Mbtn {
    display: inline-block;
    padding: 14px 30px;
    font-size: 16px;
    border: 0px;
    border-radius: 4px;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
    font-weight: 600;
	font-family: "Inter", serif;
}
.xYoloW94Mbtn.xYoloW94Msolid, .xYoloW94Mbtn.xYoloW94Mtransparent {
    background-color: #0daf00;
    color: #ffffff;
}
.xYoloW94Mnav-links > ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.xYoloW94Mnav-link{
	position: relative;
}
.xYoloW94Mnav-link > a {
	font-family: "Montserrat", sans-serif;
	line-height: 5rem;
	color: #000000;
	padding: 0 .8rem 0 .5rem;
	letter-spacing: 0.2px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: .5s;
}
.xYoloW94Mnav-link > a > i{
	margin-left: .2rem;
}
.xYoloW94Mnav-link:hover > a{
	transform: scale(0.9);
}
.xYoloW94Mdropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 13rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
    box-shadow: 0px 5px 40px 5px #2a2a2a1c;
}
.xYoloW94Mdropdown ul{
	position: relative;
}
.xYoloW94Mdropdown-link > a {
    display: flex;
    background-color: #fff;
    color: #000000;
    padding: .9rem 1rem;
    font-size: 13px;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}
.xYoloW94Mdropdown-link > a:hover{
	background: #b70000;
	color: #fff;
}
.xYoloW94Mdropdown-link:not(:nth-last-child(2)){
	border-bottom: 1px solid #efefef;
}
.xYoloW94Mdropdown-link i{
	transform: rotate(-90deg);
}
.xYoloW94Marrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff6f6;
    transform: rotate(45deg);
    transition: .3s;
    cursor: pointer;
    z-index: -1;
    box-shadow: 0px 0px 4px 1px #0000003b;
}
.xYoloW94Mdropdown-link:first-child:hover ~ .xYoloW94Marrow{
	background-color: #b70000;
}
.xYoloW94Mdropdown-link{
	position: relative;
}
.xYoloW94Mdropdown.xYoloW94Msecond{
	top: 0;
	left: 100%;
	padding-left: .8rem;
	cursor: pointer;
	transform: translateX(10px);
}
.xYoloW94Mdropdown.xYoloW94Msecond .xYoloW94Marrow{
	top: 10px;
	left: -5.5px;
}
.xYoloW94Mnav-link:hover > .xYoloW94Mdropdown,
.xYoloW94Mdropdown-link:hover > .xYoloW94Mdropdown{
	transform: translate(0, 0);
	opacity: 1;
	pointer-events: auto;
}
.xYoloW94Mhamburger-menu-container{
	flex: 1;
	display: none;
	align-items: center;
	justify-content: flex-end;
}
.xYoloW94Mhamburger-menu{
	width: 2.5rem;
	height: 2.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.xYoloW94Mhamburger-menu .xYoloW94M-div{
	width: 1.6rem;
	height: 3px;
	border-radius: 3px;
	background-color: #000000;
	position: relative;
	z-index: 1001;
	transition: .5s;
}
.xYoloW94Mhamburger-menu .xYoloW94M-div:before,
.xYoloW94Mhamburger-menu .xYoloW94M-div:after{
	content: '';
	position: absolute;
	width: inherit;
	height: inherit;
	background-color: #000000;
	border-radius: 3px;
	transition: .5s;
}
.xYoloW94Mhamburger-menu .xYoloW94M-div:before{
	transform: translateY(-7px);

}	
.xYoloW94Mhamburger-menu .xYoloW94M-div:after{
	transform: translateY(7px);

}	
#xYoloW94Mcheck {
    position: absolute;
    top: 50%;
    right: 0rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 9000;
    cursor: pointer;
    opacity: 0;
    display: none;
}
#xYoloW94Mcheck:checked ~ .xYoloW94Mhamburger-menu-container
.xYoloW94Mhamburger-menu .xYoloW94M-div{
	background-color: transparent;
}
#xYoloW94Mcheck:checked ~ .xYoloW94Mhamburger-menu-container
.xYoloW94Mhamburger-menu .xYoloW94M-div:before{
	transform: translate(0) rotate(-45deg);
}
#xYoloW94Mcheck:checked ~ .xYoloW94Mhamburger-menu-container
.xYoloW94Mhamburger-menu .xYoloW94M-div:after{
	transform: translate(0) rotate(45deg);
}
@keyframes animation{
	from{
		opacity: 0;
		transform: translateY(15px);
	}
	to{
		opacity: 1;
		transform: translateY(10px);
	}
}
@media (max-width: 920px){
	.xYoloW94Mhamburger-menu-container{
		display: flex;
	}
	#xYoloW94Mcheck{
		display: block;
	}
	.xYoloW94Mnav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #040404;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }
	#xYoloW94Mcheck:checked ~ .xYoloW94Mnav-btn{
		transform: translateX(0);
	}
	#xYoloW94Mcheck:checked ~ .xYoloW94Mnav-btn .xYoloW94Mnav-link,
	#xYoloW94Mcheck:checked ~ .xYoloW94Mnav-btn .xYoloW94Mlog-sign{
		animation: animation .5s ease forwards var(--i);
	}
	.xYoloW94Mnav-links{
		flex: initial;
		width: 100%;
	}
	.xYoloW94Mnav-links > ul{
		flex-direction: column;
	}
	.xYoloW94Mnav-link{
		width: 100%;
		opacity: 0;
		transform: translateY(15px);
	}
	.xYoloW94Mnav-link > a {
        line-height: 1;
        padding: 1.2rem 2rem;
        color: #fff;
    }
	.xYoloW94Mnav-link:hover > a {
        transform: scale(1);
        background-color: #b70000;
    }
	.xYoloW94Mdropdown, .xYoloW94Mdropdown.xYoloW94Msecond{
		position: initial;
		top: initial;
		left: initial;
		transform: initial;
		opacity: 1;
		pointer-events: auto;
		width: 100%;
		padding: 0;
		background-color: #000000;
		display: none;
	}
	.xYoloW94Mnav-link:hover > .xYoloW94Mdropdown,
	.xYoloW94Mdropdown-link:hover > .xYoloW94Mdropdown{
		display: block;
	}
    .xYoloW94Mnav-link:hover > a{
        text-decoration: none !important;
    }
	.xYoloW94Mnav-link:hover > a > i,
	.xYoloW94Mdropdown-link:hover >  a > i{
		transform: rotate(360deg);
	}
	.xYoloW94Mdropdown-link > a {
        background-color: transparent;
        color: white;
        padding: 1.2rem 3rem;
        line-height: 1;
    }
	.xYoloW94Mdropdown.xYoloW94Msecond .xYoloW94Mdropdown-link > a{
		padding: 1.2rem 2rem 1.2rem 3rem;
	}
	.xYoloW94Mdropdown.xYoloW94Msecond .xYoloW94Mdropdown.xYoloW94Msecond .xYoloW94Mdropdown-link > a{
		padding: 1.2rem 2rem 1.2rem 4rem;
	}
	.xYoloW94Mdropdown-link:not(:nth-last-child(2)){
		border-bottom: none;
	}
	.xYoloW94Marrow{
		z-index: 1;
		background-color: #b70000;
		left: 10%;
		transform: scale(1.1) rotate(45deg);
		transition: .5s;
	}
	.xYoloW94Mnav-link:hover .xYoloW94Marrow {
        background: #b70000;
    }
	.xYoloW94Mdropdown .xYoloW94Mdropdown .xYoloW94Marrow{
		display: none;
	}
	.xYoloW94Mdropdown-link:hover > a{
		background-color: #b70000;
	}
	.xYoloW94Mdropdown-link:first-child:hover ~ .xYoloW94Marrow{
		background-color: #b70000;
	}
	.xYoloW94Mnav-link > a > i{
		font-size: 1.1rem;
		transform: rotate(-90deg);
		transition: .7s;
	}
	.xYoloW94Mdropdown i{
		font-size: 1rem;
		transition: .7s;
	}
	.xYoloW94Mlog-sign{
		flex: initial;
		width: 100%;
		padding-left: 2.2rem;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
		justify-content: flex-start;
		opacity: 0;
		transform: translateY(15px);
	}
    .xYoloW94Marrow {
        box-shadow: 0px 0px 4px 1px #00000000;
    }
}
.section-btn {
    background: none;
    padding: 12px 38px !important;
    font-size: 18px !important;
    font-family: 'Jost', sans-serif  !important;
    cursor: pointer !important;
    margin: 10px;
    transition: 0.8s !important;
    position: relative;
    overflow: hidden;
    outline: none;
    border: 0px;
    letter-spacing: 0.4px;
    border-radius: 0px !important;
    margin-left: 0px;
    outline: none !important;
    background: #b70000;
    color: #fff;
}
.xYoloW94MHomeSeCtion {
    position: relative;
    width: 100%;
    height: 630px;
    overflow: hidden; 
}
.xYoloW94MHomeSeCtion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/casino-roulette-wheel-with-roule_2495709_wh860\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    animation: zoomInOut 15s infinite alternate; 
}
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); } 
}
.xYoloW94MHomeSeCtion::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #0000006c 0%, #000000A3 100%);
    z-index: 0;
}
.xYoloW94MHomeConteNT{
    padding: 140px 100px 160px 100px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.xYoloW94MHomeConteNT > h1 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    line-height: 72px;
}
.xYoloW94MHomeConteNT > p{
    font-family: "Montserrat", serif;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    padding: 15px 120px;
    font-weight: 400;
    letter-spacing: 0.4px;
    font-style: normal;
}
.xYoloW94MHome-btn{
    background: none;
    padding: 14px 28px !important;
    font-size: 15px;
    font-family: "Inter", serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    outline: none;
    border: 0px;
    letter-spacing: 0.4px;
    background-color: #b70000;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    text-transform: uppercase;
}
.xYoloW94MSerVices {
    margin-bottom: 40px;
}
.xYoloW94MServIcecoNtainer {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}
.xYoloW94MServIcecol-25 {
    position: relative;
    width: 25%;
    overflow: hidden;
}
.xYoloW94MServIcecol214f {
    background: #b70000; 
}
.xYoloW94MServIcecol224f {
    background: #8b0404; 
}
.xYoloW94MServIcecol234f {
    background: #b70000; 
}
.xYoloW94MServIcecol244f {
    background: #8b0404; 
}
.xYoloW94MServIcecol-25 img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.9;
}
.xYoloW94MServIceoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3); 
}
.xYoloW94MServIceoverlay span {
    color: #ff000000;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-transform: none;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0px;
    -webkit-text-stroke-width: 1px;
    stroke-width: 1px;
    -webkit-text-stroke-color: #ffffff;
    stroke: #ffffff;
    font-size: 54px;
    padding: 0px 0px 10px 0px;
}
.xYoloW94MServIceoverlay h2 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    font-family: "Inter", serif;
    color: #e4e4e4;
    padding: 18px 0px 0px 0px;
}
.xYoloW94MServIceoverlay p {
    font-family: "Montserrat", serif;
    font-size: 13px;
    line-height: 20px;
    color: #e0e0e0;
    padding: 0px 10px;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-style: normal;
}
@media (max-width: 768px) {
    .xYoloW94MServIcecol-25 {
        width: 45%;
    }
}
@media (max-width: 600px) {
    .xYoloW94MServIcecol-25 {
        width: 100%;
    }

    .xYoloW94MServIcecoNtainer {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .xYoloW94MSerVices {
        padding: 15px;
        margin: 30px 0px;
    }
}
.xYoloW94MaBoUtsEction{
    padding: 50px 0px 100px 0px;
}

.xYoloW94MaBoUt-content{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.xYoloW94MaBoUt-content-img {
    position: relative;
}

img.xYoloW94MaBoUt-img-01 {
    width: 460px;
    height: auto;
}

img.xYoloW94MaBoUt-img-02 {
    position: absolute;
    right: -100px;
    top: 250px;
    height: 420px;
    width: 350px;
}

.xYoloW94MaBoUt-description {
    width: 480px;
    margin-top: 80px;
}

.xYoloW94MaBoUt-description > small {
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Plus Jakarta Sans", serif;
    color: #0daf00;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 600;
}

.xYoloW94MaBoUt-description > h2{
    font-size: 40px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    margin: 15px 0px;
    font-weight: 700;
}

.xYoloW94MaBoUt-description > p{
    font-size: 16px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 20px 0px;
    font-weight: 400;
}
.YoloW94MGaME-section{
    padding: 50px 0px;
}

.section-title{
    text-align: center;
}

.section-title > small{
    font-size: 12px;
    text-transform: uppercase;
    font-family: "Plus Jakarta Sans", serif;
    color: #0daf00;
    font-weight: 600;
    font-style: normal;
}

.section-title > h2 {
    font-size: 40px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    font-weight: 700;
    margin: 15px 0px;
}

.YoloW94MGaME-card-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin-top: 80px;
}

.YoloW94MGaME-card .accomm-img {
    position: relative;
    overflow: hidden;
}

.YoloW94MGaME-card .accomm-img img {
    display: block;
    width: 100%;
    transition: 0.35s ease-in-out;
    height: auto;
    cursor: pointer;
}
h6.accomm-title{
    font-size: 20px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    margin: 15px 0px;
    font-weight: 700;
    color: #fff;
}
.YoloW94MGaME-card.accom-style .accomm-text {
    position: absolute;
    bottom: 55px;
    left: -20px;
    padding: 15px 30px;
    background: #b70000;
    color: #fff;
    width: fit-content;
    max-width: calc(100% - 20px);
    cursor: pointer;
    transition: 0.35s ease-in-out;
    height: 200px;
    font-family: "Montserrat", serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: 500;
}
.YoloW94MGaME-card .accomm-text {
    z-index: 9;
    width: 100%;
    padding: 30px;
}
.YoloW94MGaME-card.cs-hover-img-zoom:hover .accomm-img img {
    -webkit-transform: scale(1.07);
    -ms-transform: scale(1.07);
    transform: scale(1.07);
}
.YoloW94MGaME-card.accom-style .accom-card-wrap {
    overflow: visible;
}
.YoloW94MGaME-card .accom-card-wrap {
    position: relative;
    overflow: hidden;
}
.YoloW94MGaME-card.accom-style:hover .accomm-text {
    background: #000000;
    color: #fff;
}
.YoloW94MeVeNT-section {
    margin: 50px 0px 0px 0px;
    background-color: #b70000;
}
.section-container{
    width: 100%;
    max-width: 1565px;
    margin: 0 auto;
}
.YoloW94MeVeNT-bg{
    height: 950px;
    margin: 260px 0px 0px 0px;
}
.YoloW94MeVeNT-card-01 > img{
    width: 680px;
    height: auto;
    margin-top: -180px;
}
.YoloW94MeVeNT-content-01{
    display: flex;
    align-items: center;
    gap: 100px;
}
.YoloW94MeVeNT-card-02 {
    margin-right: 120px;
    width: 100%;
}
.YoloW94MeVeNT-description > small{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: #18e609;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 500;
}
h2.YoloW94MeVeNT-WhiTE{
    color: #fff !important;
}
p.YoloW94MeVeNT-bLacK{
    color: #181818 !important;
}
.YoloW94MeVeNT-description > h2 {
    margin: 15px 0px;
    font-size: 40px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    margin: 15px 0px;
    font-weight: 700;
}
.YoloW94MeVeNT-description > p{
    font-size: 16px;
    line-height: 30px;
    color: #e0e0e0;
    font-family: "Montserrat", serif;
    margin: 20px 0px;
    font-weight: 400;
}
.YoloW94MeVeNT-card-04 > img {
    width: 600px;
    height: auto;
    margin-top: -140px;
}
.YoloW94MeVeNT-content-02{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    gap: 100px;
}
.YoloW94MeVeNT-card-03 {
    width: 40%;
    margin-left: 120px;
    margin-top: 305px;
}
.YoloW94MeVeNT-card-02 .YoloW94MeVeNT-description > a > button {
    position: absolute;
    z-index: 1;
    background: black;
    border: none !important;
}

.YoloW94MeVeNT-card-02 .YoloW94MeVeNT-description >  a > button:hover::before{
    height: 190%;
}
.YoloW94MainEevent-section {
    padding: 540px 0px 50px 0px;
}

.YoloW94MainEevent-card {
    background-color: #000000;
    display: flex;
    height: 388px;
}

.YoloW94MainEevent-card-02 {
    background-color: #000000;
    display: flex;
    height: 388px;
}

.YoloW94MainEevent-img > img {
    width: 580px;
}

.YoloW94MainEevent-description {
    padding: 50px 30px;
}

.YoloW94MainEevent-description > small{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: #18e609;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 500;
}

.YoloW94MainEevent-description > h2{
    margin: 15px 0px;
    font-size: 36px;
    line-height: 1.2em;
    color: #ffffff;
    font-family: "Inter", serif;
    margin: 15px 0px;
    font-weight: 700;
}

.YoloW94MainEevent-description > p{
    font-size: 16px;
    line-height: 30px;
    color: #e0e0e0;
    font-family: "Montserrat", serif;
    margin: 20px 0px;
    font-weight: 400;
}

.YoloW94MainEevent-description > a > .section-btn{
    position: absolute;
    z-index: 1;
}
.YoloW94MreVieW-section {
    padding: 50px 0px 80px 0px;
}

.YoloW94MreVieW-bg{
    background-image: url('../images/review-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    position: relative;
    z-index: 1;
}

.YoloW94MreVieW-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: linear-gradient(180deg, #000000bd 0%, #000000b3 100%);
    opacity: 0.8;
    width: 100%;
}

.YoloW94MreVieW-card {
    background-color: #b70000;
    display: flex;
    position: absolute;
    margin-top: -150px;
    z-index: 1;
    margin-left: 140px;
    height: 372px;
}

.YoloW94MreVieW-img > img {
    width: 558px;
}

.YoloW94MreVieW-description {
    padding: 75px 0px 0px 0px;
}

.YoloW94MreVieW-description > p {
    font-size: 15px;
    line-height: 26px;
    color: #ffffff;
    font-family: "Montserrat", serif;
    margin: 40px 40px 20px 40px;
    font-weight: 400;
}
.YoloW94MreVieW-title > small{
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Jost', sans-serif;
    color: #b99d75;
    letter-spacing: 0.1em;
    font-style: normal;
    font-weight: 500;
}

.YoloW94MreVieW-title > h2{
    margin: 15px 0px;
    width: 680px;
    line-height: 68px;
    padding: 45px 0px 0px 0px;
    font-size: 40px;
    line-height: 1.4em;
    color: #ffffff;
    font-family: "Inter", serif;
    font-weight: 700;
}

.YoloW94MreVieW-description ul {
    list-style: none;
    display: flex;
    font-size: 14px;
    color: #ffb300;
    margin: 0px 0px 5px 34px;
}

.YoloW94MreVieW-description ul li{
    padding: 0px 0px 0px 6px;
}

.YoloW94MreVieW-description > h3{
    font-family: "Montserrat", serif;
    margin: 40px 40px 5px 40px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    color: #fff;
}
.YoloW94MreVieW-description > h4{
    font-family: "Montserrat", serif;
    margin: 0px 40px 5px 40px;
    font-size: 11px;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.6px;
}
.YoloW94Mfooter {
    padding: 35px 0px 25px 0px;
    background: #000000;
    margin-top: 220px;
}
.YoloW94Mfooter {
    padding: 35px 0px 25px 0px;
    background: #b70000;
    margin-top: 220px;
}
.flex {
  display: flex;
}
h3.newsletter_title {
    font-size: 24px;
    line-height: 34px;
    color: #1f1f1f;
    font-family: "Montserrat", serif;
    font-weight: 700;
    padding-bottom: 30px;
}
.footer_inner {
  background: #fff;
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
form {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: min(100%, 400px);
    border-bottom: 0px;
    flex-direction: column;
    gap: 30px;
}
button {
    border: 0px;
    background: #b70000;
    color: #fff;
    font-weight: 500;
    font-family: "Montserrat", serif;
    padding: 14px 30px;
    font-size: 16px;
    cursor: pointer;
}
input {
    padding: 0.75rem 0;
    border: none;
    background: none;
    font-weight: 500 !important;
    transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    border-radius: 0;
    width: 100%;
    font-size: 14px;
    font-weight: bolder;
    border-bottom: 1px solid rgb(12, 12, 12);
    font-family: "Montserrat", serif;
    color: rgb(12, 12, 12);
}
input:focus {
  outline: none;
}
input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .w-50 {
    width: 50%;
  }
  .w-25 {
    width: 25%;
  }
}
form {
  position: relative;
}
svg {
  margin: 0.5rem;
}
.c-2 {
  margin-top: 0px;
}
.footer_copyright {
  color: var(--light);
}
ul.c-nav-tool_list > li {
    font-family: "Montserrat", serif;
    font-weight: 500;
    font-size: 14px;
    padding: 7px 0px;
}
.footer_copyright > P{
    font-family: "Montserrat", serif;
    color: #fff;
    text-align: center;
    padding: 15px 0px;
    font-size: 13px;
    font-weight: 400;
}
.footer_copyright > P > a{
    color: #fff;
}
ul.c-nav-tool_list > li > a{
    color: #000000;
}
ul.c-nav-tool_list > li > a:hover{
    color: #b70000;
}
h4.c-nav-tool_title {
    padding-bottom: 15px;
    margin-top: 6px;
    font-family: "Montserrat", serif;
    font-weight: 700;
}
section.xLgvUd {
    padding: 10px 0px;
}
.xLgvUd {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.dLiyMd {
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.Lc9dnq {
    display: flex;
    gap: 12px;
    justify-content: center;
    padding-bottom: 20px;
}
.q5K82k {
    background: none;
    border: 1px solid #d3d3d3;
    border-radius: 0px;
    color: #4f4659;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 20px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s;
}
.q5K82k:hover {
    background-color: #b70000;
    color: #fff;
}
.q5K82k.active {
    background-color: #b70000;
    color: #ffffff;
}
.rtlPPE {
    display: none;
    width: 100%;
    background-color: #fff;
}
.rtlPPE.active {
    display: flex;
}
.RY1B9m {
    display: flex;
    gap: 60px;
    width: 100%;
}
.z_Kf2G {
    width: 50%;
}
.Sncj7c {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.BwVe_y {
    color: #4f4659;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}
.BwVe_y {    
    font-size: 32px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    font-weight: 700;
}

.euzORz {
    font-size: 16px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
}

.euzORz_ul > li{
    font-size: 16px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
}

ul.euzORz_ul > li > img {
    position: relative;
    top: 5px;
    width: 16px;
    margin-right: 8px;
}

.euzORz_span{
    font-size: 32px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    font-weight: 700;
    padding: 15px 0px;
}
.euzORz_span > span{
    font-size: 18px;
    line-height: 1.4em;
    color: #3f3f3f;
    font-family: "Inter", serif;
    font-weight: 500;
}

a.wVe_y_btn_sub  > button {
    width: 200px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}
.qezv0v {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.iBN2jN {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    line-height: 20px;
}
.iBN2jN img {
    width: 20px;
    height: 20px;
}
.iBN2jN span {
    font-weight: 700;
}

.Vm8KbK {
    background-color: #008792;
    border-radius: 6px;
    color: #f6f6f6;
    padding: 15px 30px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
}

.Vm8KbK:hover {
    background-color: #006970;
}

@media screen and (max-width: 768px) {
    .RY1B9m {
        flex-direction: column;
        align-items: center;
    }

    .Sncj7c {
        max-width: 100%;
    }

    .Lc9dnq {
        flex-wrap: wrap;
    }

    .q5K82k {
        flex: 1 1 45%;
    }
}
@media screen and (max-width: 480px) {
    .q5K82k {
        font-size: 18px;
        line-height: 26px;
    }

    .z_Kf2G {
        height: auto;
    }
}

.xYoloW94MSubHomeSeCtion {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden; 
}

.xYoloW94MHomeSeCtion.xYoloW94MHom47_eSeCtion{
    background-image: url('../images/GU8265w.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.xYoloW94MHomeSeCtion.gth_Home_3{
    background-image: url('../images/basddnnecdfvgr-01.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.xYoloW94MSubHomeSeCtion::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url('../images/casino-roulette-wheel-with-roule_2495709_wh860\ \(1\).png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    animation: zoomInOut 15s infinite alternate; 
}
@keyframes zoomInOut {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); } 
}
.xYoloW94MSubHomeSeCtion::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(180deg, #0000006c 0%, #000000A3 100%);
    z-index: 0;
}
.xYoloW94MHomeSubConteNT{
    padding: 80px 0px;
    text-align: center;
    position: relative;
    z-index: 1;
}
.xYoloW94MHomeSubConteNT > h1 {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 46px;
    color: #fff;
    font-weight: 600;
    line-height: 72px;
}

.YrxT-57_njsI {
    padding: 30px 0px 60px 0px;
}

.YrxT-57_njsI > h2{
    font-size: 34px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    margin: 15px 0px;
    font-weight: 700;
}

.YrxT-57_njsI > h3{
    font-size: 18px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 30px 0px 0px 0px;
    font-weight: 700;
}

.YrxT-57_njsI > p{
    font-size: 14px;
    line-height: 26px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
}

.YrxT-57_njsI > ul{
    list-style: decimal;
    padding-left: 18px;
}

.YrxT-57_njsI > ul > li{
    font-size: 14px;
    line-height: 26px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
}

.YoloW94Mfooter.YoloW94MfootersuB_21dnk {
    margin: 0px;
}

img.xYoloW94MaBoUt-img-01.ju_21 {
    width: 580px;
}

img.xYoloW94MaBoUt-img-02 {
    position: absolute;
    right: -36px;
    top: 250px;
    height: auto;
    width: 515px;
}

.xYoloW94MaBoUtsEction.hyb_54K {
    padding-top: 100px;
}

.choose-section{
    padding: 50px 0px;
}
  
h2.choose-title {
    font-size: 40px;
    line-height: 1.4em;
    color: #181818;
    font-family: "Inter", serif;
    font-weight: 700;
    padding-bottom: 25px;
}
.choose-p{
    font-size: 16px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
}
  
  .choose-row-1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 40px;
  }
  
  .choose-row-2 {
    width: 50%;
    transform: translateX(50%);
    margin-top: 30px;
  }
  
  .choose-card.pink-bg {
    border-radius: 16px;
    border: 1px solid rgb(251 96 96 / 22%);
    background: rgb(251 96 96 / 5%);
    padding: 40px 30px;
}
  
  .choose-card.green-bg{
    border-radius: 16px;
    border: 1px solid rgb(251 96 96 / 22%);
    background: rgb(251 96 96 / 5%);
    padding: 40px 30px;
  }
  
  
  .choose-card > h3{
    font-size: 18px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 30px 0px 0px 0px;
    font-weight: 700;
  }
  
  .choose-card > p{
    font-size: 16px;
    line-height: 30px;
    color: #181818;
    font-family: "Montserrat", serif;
    margin: 0px 0px 8px 0px;
    font-weight: 400;
  }

  a.wVe_y_btn_sub.lit_sub_p32 > button {
    margin-top: 30px;
    text-align: center;
}

a.wVe_y_btn_sub.lit_sub_p32 {
    text-align: center;
    position: relative;
    left: 42%;
    transform: translateX(-42%);
}